h1{color:red;}

body{
    width: 75%;
    background-color: seashell;
    margin: auto;
}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
   

}

@media screen and (max-width:750px) {

    form{
        width: 100%;}

    body{
        max-width: 350px;
        background-color:yellow;
    }
}